[submodule "f1thebeast_ws"]
	path = f1thebeast_ws
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/f1thebeast_ws.git
[submodule "teleop-tools"]
	path = teleop-tools
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/teleop-tools.git
[submodule "range_libc"]
	path = range_libc
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/range_libc.git
[submodule "f1tenth_base_setup"]
	path = f1tenth_base_setup
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/f1tenth_base_setup.git
[submodule "ekf_slam"]
	path = ekf_slam
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/ekf_slam.git
[submodule "minimum_curvature_global_planner"]
	path = minimum_curvature_global_planner
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/minimum_curvature_global_planner.git
